<!-- portfolio/templates/portfolio/ucs.html -->
{% extends "portfolio/base.html" %}

{% block content %}
<h2>Unidades Curriculares</h2>

<section>
    {% for uc in ucs %}
    <article>
        <header>
            {% if uc.imagem %}
            <img src="{{ uc.imagem.url }}" alt="Imagem {{ uc.nome }}">
            {% endif %}
            <h3>{{ uc.sigla }} &mdash; {{ uc.nome }}</h3>
            <p>{{ uc.licenciatura.sigla }} &mdash; {{ uc.ano_curricular }}º Ano, {{ uc.get_semestre_display }}</p>
            <p>{{ uc.ects }} ECTS &mdash; Código: {{ uc.codigo }}</p>
        </header>
        <section>
            <h4>Docentes</h4>
            <ul>
                {% for docente in uc.docentes.all %}
                    <li>{{ docente.nome }}</li>
                {% empty %}
                    <li>Sem docentes associados</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% empty %}
    <p>Sem unidades curriculares registadas.</p>
    {% endfor %}
</section>
{% endblock %}
